    
    <footer class="footer footerStyle">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-12">
            <div class="copyright text-center text-xl-left">
                &copy; <p id="currentYear"></p><p class="displayInline font-weight-bold ml-1" target="_blank"> Jose Julian Hurtado Castellanos</p>
            </div>
            </div>
        </div>
    </footer>
</div>
<script src="../vendor/jquery/dist/jquery.min.js"></script>
<script src="../vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Argon JS -->
<script src="../js/argon.js?v=1.0.0"></script>
<script src="../js/footer.js"></script>
<script src="../js/listinmodal.js"></script>
</body>
</html>