{{>header}}
<div class="row">
    <div class="card shadowStyle" align="center">
        <div class="card-body">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div>
                    <h1>404</h1>
                    <h3>La página no existe.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
