{{>header}}
<div class="row">
    <div class="card shadowStyle">
        <div class="card-body">
            <div class="col-xs-12 col-md-12 col-lg-12">
                {{{eliminarestudiantecurso cedula idCurso}}}
            </div> 
        </div>
    </div>
</div>
{{>footer}}