{{>header}}
<div class="row">
    <div class="card shadowStyle" align="center">
        <div class="card-body">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div>
                    <h1>Bienvenido a la Actividad 2 del Curso de NodeJs</h1>
                    <h3>Realizada por Jose Julian Hurtado Castellanos</h3>
                    <h3>Para navegar en esta Página, dirijase a las opciones de menú y seleccione la opción de su preferencia.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
